@page
@{
    ViewData["Title"] = "History of Baseball";
}

<!DOCTYPE html>
<html lang="en">
<h2>@ViewData["Title"]</h2>
<img src="~/images/hitter.jpg" alt="">
<h3>The origins of Baseball</h3>
<body>
    <p>
        The origins of Baseball are uncertain. Traces of a game played with a bat and a ball date back to ancient Egypt and a ball used over 2000 years ago is on display in the British Museum in London.
    </p>
    <br />
    <p>
        This is not enough to conclude that the game we know today as Baseball is a British game. Actually, there is a game named British Baseball. It is still played in Wales and features two teams of 11 players and there is no pitcher, but a bowler as in Cricket. Each team plays 2 innings and an inning is complete when all 11 players have had a chance at bat. A run is scored every time a player gets to a base.
    </p>
</body>
