@page
@model PrivacyModel
@{
    ViewData["Title"] = "Sources";
}
<h2>@ViewData["Title"]</h2>

<p>Page to display site sources.</p>
<h3>Stats Citations</h3>
<p>
    “MLB Stats, Scores, History, &amp; Records.” BR Bullpen, www.baseball-reference.com/.
</p>
<br />

<h3>ASP.net Citations</h3>